* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: clip;
    font-family: SFProDisplay,arial,sans-serif;
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
    padding: 0 10px;
}
ul li:hover {color: #273e88;}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.kargobedava {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #273e88;
}
.bolumler-iletisim {
    width: 100%;
    height: 1rem;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: bold;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-around;
}
.flex {
    display: inline-flex;
    justify-content: space-around;
}

.search-container {
    height: auto;
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.search-container img {
    width: 80px;
    border-style: none;
    box-sizing: border-box;
}
.search-container ul {display: flex;
margin-right: 26px;}
.search-container ul li {
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.search {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    width: 600px;
    height: 45px;
    display: flex;
}

form input {
    padding-left: 10px;
    flex: 1;
    border-color: #d6d6d6;
    outline-color: #d6d6d6;
    border-style: solid;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

form button {
    background: #273e88;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 48px;
    background-color: #084793;
    z-index: 10;
}

.wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0 30px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav img {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;    
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: .860rem;
    font-weight: 550;
    line-height: 1.5;
    font-family: SFProDisplay,arial,sans-serif;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
#red li a {color: red;}
.nav-links li a:hover {
    text-decoration: underline;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .mega-box {
    transition: all 0.7s;
    top: 54px;
    opacity: 1;
    visibility: visible;
    box-shadow: 10px 10px 10px #e9e9e9;
}
.content {
    background: #fff;
    border: 10px;
    padding: 25px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main {
    width: 25%;
    line-height: 45px;
}

.main img {
    display: block;
    width: 320px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.main p {
    color: rgb(124, 124, 124);
    font-size: 16px;
}

.main ul li a {
    color: rgb(124, 124, 124);
    font-weight: bold;
    font-size: 14px;
}

.mega-links {
    margin-left: -42px;
    border-left: 1px solid #fff;
}

.mega-links li {
    padding: 0 20px;
}

.mega-links li a {
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: inline-block;
    width: 80%;
}

.mySlides {display: none}
.mySlides img  {border-radius: 4px;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  top: 60px;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.highlight-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.highlight {
    background: #fa0000!important;
    font-size: 16px!important;
    width: 1230px;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    position: relative;
    padding: 10px 30px 10px 15px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.highlight-container .highlight a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px!important;
    font-weight: 500;
    font-family: SFProDisplay,arial,sans-serif;
}
.box-banner {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.box-banner img {
    height: 190px;
    width: auto;
    border-radius: 4px;
    margin: 10px;
}
.container-slick {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slickSliderContainer {
    max-width: 1200px;
}
.slickTable {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
}
.slickTable a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.slickTitle a span {
    text-decoration: none;
    font-size: larger;
    margin: 10px;
}
.blue {color: #273e88}

.slider-container {
    position: relative;
    overflow-x: hidden;
    height: 500px;
    width: 1200px;
    max-width: 1200px;
    padding: 0 35px;
    align-items: center;
}
.slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
    width: calc(100%*6/12);
    transform: translateX();
}
.btn {
    background: rgb(245, 24, 24);
    border: none;
    outline: none;
    color: #ffff;
    font-size: 20px;
    margin: 20px;
    padding: 6px 12px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.btn:nth-child(2){
    margin-left: -74px;
}

.product-card img {height: 80px;width: auto;}
.product-card .imgbx {
    width: 180px;
    height: 180px;
    border-style: solid;
    border-radius: 4px;
    border-color: #d6d6d6;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card .imgbx img {width: 100px;height: auto;}
.imgtxt {
    margin: 6px;
    text-decoration: none;
}
.imgttl, .imgrw {
    text-align: left;
    font-weight: 400;
    font-size: .875rem;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 1.3;
    padding-top: 3px;
    text-decoration: none;
}
.product-card.imgtxt.imgrw {
    min-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;
}
a {
    text-decoration: none;
    color: #212529;
}
.card-btn {
    position: absolute;
    padding: 10px;
    width: 160px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    justify-content: center;
        
}
.kargo {color: #009001;}
.marka {color: #084793;}
.sepetbuton {margin-bottom: 6px;}
.product-card {
    width: 200px;
    height: 450px;
    margin-right: 20px;
    flex: 0 0 calc(100%/6);
    box-sizing: border-box;
}
.product-card:hover .card-btn {
    opacity: 1;
    background: red;
    color: #fff;
    display: flex;
    justify-content: center;
}
.product-card:hover {
    border: solid 1px;
    border-radius: 4px;
    border-color: #d6d6d6;
    box-shadow: 4px 4px 4px #d6d6d6;
}
.product-card:hover .imgbx {border-style: none;}
.discount-tag {
    position: absolute;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 10px;
    font-size: .75rem;
    background: #1d94d7;
    color: #fff;
    font-weight: 400;
}
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    padding: 70px;
}
.topbanner {
    display: flex;
}
.bottombanner {
    display: flex;
}
.categories-container {
    margin-bottom: 20px!important;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drkesfet {
    margin-left: 350px;
}
.drkesfet h3 {
    color: #4a4a4a;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 20px;
}
.categories {display: flex;}
.categories img {
    vertical-align: middle;
    border-style: none;
    overflow: clip;
}
.category-item {
    width: 40%;
    margin: 0 10px;
    margin-bottom: 30px;
    text-align: center;
}
.category-item a span {
    font-weight: 700;
    font-size: .875rem;
    margin-top: 10px;
    display: block;
}
.categories-container .categories .category-item a {
    text-decoration: none;
    color: #212529;
}
.site-footer {
    color: #5d5d5d;
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-footer a {
    text-decoration: none;
    color: #5d5d5d;
    font-family: SFProDisplay,arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.site-footer .title {
    font-weight: bold;
    display: block;
    padding-bottom: 10px!important;
    padding-left: 8px;
}
.footer-container {
    display: flex;
}
.part {padding: 10px;}
.left-c-top {
    display: flex;
    padding-bottom: 20px;
}
.left-c-bottom {
    display: flex;
}
.right-c {
    padding-left: 100px;
    align-items: center;
}
.right-c .col span { 
    display: block;
    padding: 10px;
    font-weight: 500; 
}
.topic-content .first img {
    height: 40px;
    width: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: -10px;
}
.topic-content .socialmedia li {
    display: inline;
}
.topic-content .first .title {
    font-weight: bold;
}
.second .div {display: flex}
.second .etbis {height: 80px;}
.second img {padding: 4px;}
.right-c .col span {font-weight: 600;}
.right-c .div {padding-bottom: 30px;}
.left-c {
    width: auto;
    float: left;
    margin:10px;
    padding:10px;
    border-right: 1px solid rgba(84, 84, 84, 0.111);
}
.alotech-chat {
    z-index: 11;
    position: fixed;
    right: 14px;
    bottom: 14px;
    cursor: pointer;
    height: 35px;
    width: min-content;
    min-width: 80px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    background: rgb(226, 7, 20);
}
.alotech-chat img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    vertical-align: unset;
    box-sizing: content-box;
}
.alotech-chat h3 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 15px 0px 5px;
    display: inline-block;
    font-weight: bold;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 27px;
    padding: 12px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    background-color: rgba(231,3,10,.3);
    transition: .3s;
    z-index: 9;
    display:flex;
    justify-content:center;
    align-items: center;
}
.fas {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size: 25px;
}
.gotopbtn:hover {background-color: #fa0000;}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

